.grid_base {
	position : relative;
	overflow : hidden;
}
.grid_thead {
	position : absolute;
	z-index : 2;
	overflow : hidden;
}
.grid_theadTbl {
	border-collapse : collapse;
	border-spacing : 0px;
	background-color : #fff;
	text-align : left;
}
.grid_theadTh {
	border : 1px solid #ccc;
	white-space : nowrap;
	overflow : hidden;
}
.grid_theadThDiv {
	padding : 1px 2px;
	overflow : hidden;
}

.grid_tbody {
	position : relative;
	overflow : scroll;
}
.grid_tbodyTbl {
	border-collapse : collapse;
	border-spacing : 0px;
	text-align : left;
}
.grid_tbodyTd {
	border : 1px solid #eee;
	white-space : nowrap;
	overflow : hidden;
}
.grid_tbodyTdDiv {
	padding : 1px 2px;
	overflow : hidden;
}

.grid_tfoot {
	position : absolute;
	bottom : 16px;
	z-index : 2;
	overflow : hidden;
}
.grid_tfootTbl {
	border-collapse : collapse;
	border-spacing : 0px;
	background-color : #fff;
	text-align : left;
}
.grid_tfootTd {
	border : 1px solid #ccc;
	white-space : nowrap;
	overflow : hidden;
}
.grid_tfootTdDiv {
	padding : 1px 2px;
	overflow : hidden;
}
