/*
 MooGrid
 
 MIT-style license. Copyright 2010 Matt V. Murphy
*/
.mgBase {
	position : relative;
	border-width : 1px 0px 0px 1px;
	border-color : #9eb6ce;
	border-style : solid;
	width : 100%;
	height : 100%;
	padding : 0px;
	background-color : #fff;
	font-family : Verdana;
	font-size : 0.70em;
	line-height : 100%;
	white-space : nowrap;
	overflow : hidden;
}
.mgBaseResize {
	position : absolute;
	z-index : 5;
	bottom : 0px;
	right : 0px;
	width : 16px;
	height : 16px;
	background-color : transparent;
	background-position : 0px -38px;
	background-repeat: no-repeat;
	cursor : nw-resize;
}
.mgRSpan {
	top : 0px;
	display : none;
	width : 4px;
	height : 19px;
	cursor : col-resize;
}
.mgResizeDragger {
	position : absolute;
	z-index : 5;
	top : 0px;
	width : 3px;
	background-color : #777;
}
.mgEmptySetMsg {
	padding : 10px;
	font-style : italic;
}
.mgHead {
	position : absolute;
	z-index : 2;
	top : 0px;
	left : 0px;
	overflow : hidden;
}
.mgBody {
	width : 100%;
	height : 100%;
	overflow : scroll;
}
.mgFoot {
	position : absolute;
	z-index : 2;
	left : 0px;
	overflow : hidden;
}
.mgHeadFixed {
	position : absolute;
	z-index : 3;
	top : 0px;
	left : 0px;
	overflow : hidden;
}
.mgBodyFixed {
	position : absolute;
	*position : static;
	z-index : 1;
	top : 0px;
	left : 0px;
	overflow : hidden;
}
.mgBodyFixed2 { /* IE 7 */
	*position : absolute;
	*z-index : 1;
	*top : 0px;
	*left : 0px;
	*overflow : hidden;
}
.mgFootFixed {
	position : absolute;
	z-index : 3;
	bottom : 0px;
	left : 0px;
	overflow : hidden;
}
.mgHeadStaticHidden .mgC, .mgFootStaticHidden .mgC {
	visibility : hidden !important;
}
.mgCol {
	display : inline-block;
	*display : inline;
	zoom : 1;
	background-color : #fff;
	vertical-align : top;
}
.mgHRow {
	border-width : 0px 1px 1px 0px;
	border-color : #aaa #ccc !important;
	background-color : #a0c8ee;
	background-position : 0px 0px;
	background-repeat: repeat-x;
	color : #111 !important;
}
.mgBRow {
	border-width : 0px 1px 1px 0px;
}
.mgFRow {
	border-width : 1px 1px 0px 0px;
	border-color : #aaa #ccc !important;
	background-color : #a0c8ee;
	background-position : 0px -19px;
	background-repeat: repeat-x;
}
.mgFixedCol .mgBRow {
	background-color : #cee6fc;
	border-color : #bbb #ccc !important;
}
.mgC {
	padding : 4px 6px 4px 4px;
	border-color : #ddd #eee;
	border-style : solid;
	color : #333;
	vertical-align : top;
	visibility : hidden;
	cursor : default;
}
.mgBaseResize, .mgHRow, .mgFRow {
	background-image : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAA0CAMAAAC0EEhzAAAAS1BMVEWFhYX///+FhYWhye6jyu+ly++lzPCnzfCqz/Grz/Gs0PKv0vOy1PS11vW42PW72va+3PfB3vjE3/nG4frH4fnI4vrK5PvM5fzO5vyrwE43AAAAAnRSTlMAAHaTzTgAAACRSURBVBjTfc9bDoJAEAXRAhVfvHGA/a9UhIBjTeL5ILmX7tAwC5MwCiG8QoxB6IVOaIVGqIVKKIWn8BBuwlUovi6fB2fhJGmRrBSSfjY5LLr6vp6e/FwpVEItNEIrdEIvDEIQRmESZiGTvwVZriLnt8iJC5b3xCtrjifWfBTbfLSy52Niz1txzO8rUd4morykN2s7IaFNf/WDAAAAAElFTkSuQmCC);
	*background-image : url("MooGrid.png");
}
